header {
    width: 80%;
    height: 250px;
    background-color: rgb(158, 185, 241);
    display: flex;
    position: absolute;
    flex-direction: row;
    top:100px;
    left: 100px;
    }

    
    .notificaciones {
        background-color: transparent;
        display: flex;
        position: absolute;
        width: 20%;
        flex-direction: row;
        height: 60px;
        flex-wrap: nowrap;
        justify-content: right;
        right: 40;
        top: 25px;
        padding: 2%;
        padding-left: 0%;
        padding-right: 0%;
        justify-content: space-between;

    }

    .vectores {
        background-color: transparent;
        display: flex;
        position: absolute;
        width: 20%;
        flex-direction: row;
        height: 60px;
        flex-wrap: nowrap;
        justify-content: right;
        right: 20;
        top: 25px;
        padding-left: 3%;
        padding-top: 2%;
        justify-content: space-between;
    }

    .puntitos {
        background-color: transparent;
        display: flex;
        position: absolute;
        width: 0.3%;
        flex-direction: row;
        height: 90px;
        flex-wrap: nowrap;
        justify-content: right;
        right: -25px;
        top: 40px;
        padding: 0%;
        justify-content: right;

    }

    .rayas {
        background-color: transparent;
        display: flex;
        position: absolute;
        width: 20%;
        flex-direction: row;
        height: 60px;
        flex-wrap: nowrap;
        justify-content: left;
        left: 20;
        top: 25px;
        padding: 2%;
    }
.verde {
    background-color: rgb(158, 241, 216);
    display: flex;
    position: absolute;
    padding: 02%;
    width: 76%;
    height: 0px;
    justify-content: space-evenly;
    top: 300px;
    left: 100px;
}

.noti6 {
    padding-left: 2%;
    padding-right: 8%;
}

.carrito {
    padding-right: 9%;
}

/* <header>
            <div class="rayas">
                <img src="./imagenes/3 rayas.png"/>
            </div>
            <div class="notificacion">
                ❤️🔔🛒
            </div>
            <div class="verde"></div>
        </header>
        <div class="rayas">
                <img src="./imagenes/rayas.png">
            </div>    
        <div class="notificaciones">
                <img class= "corazon" src="./imagenes/corazon.png">
                <img class= "noti10" src="./imagenes/notificacion10_adobespark.png"/>
                <img class= "campana" src="./imagenes/campana.png"/>
                <img class= "noti3" src="./imagenes/notificacion3_adobespark.png"/>
                <img class= "carrito" src="./imagenes/carrito.png"/>
                <img class= "noti6" src="./imagenes/notificacion6_adobespark.png">
            </div>

        
        */