*{
    font-family: 'Zen Kurenaido', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1em;
    margin: auto;
}

.contenedor {
    width: 500px;
    height: 800px;
    background-color: rgb(235, 230, 226);
    border-color: slategray;
    border-width: 2em;
    border-style: solid;
    border-radius: 5%;
}
h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 2.4em;
    text-align: center;
    font-weight: 900;
}

h3 {
    font-size: 2em;
}

p.fecha {
    font-size: 0.7em;
    color: rgb(185, 169, 169)
}

.positiva {
    color: greenyellow;
}

.negativa {
    color: red;
}

/* se puede usar una estructura if para resolver el ejercicio?  
Poner un tipografía distinta a la default.
Dar a los títulos un tamaño de fuente distinto al default.
Dar a la fecha un tamaño de letra más pequeña y un color gris claro.
Si el monto es un ingreso, debe tener un color verde, si es una salida, debe tener un color verde.
10 - Tareas*/