body {
    display: flex;
    height: 150vh;
    width: 150vh;

}

.boton {
    background-color: white;
    border-style: solid;
    border-width: 0.1em;
    border-color: silver;
    border-radius: 35%;
    right: 40px;
    bottom: 40px;
    height: 75px;
    width: 300px;
    display: flex; 
    position: fixed;
    align-items: center;
   box-shadow: 5px 5px 5px rgb(192, 185, 185)
   
}

.imagen {
    height: 15px;
    width: 15px;
    background-color: transparent;
    position: relative;
    left: 0px;
    padding: 20px;
}
span {
    font-size: 1.2em;
}