.container {
    width: 630px;
    height: 450px;
    border: 1px solid;
    padding: 10px;
    margin: 100px auto;
}

.box {
    width: 150px;
    height: 150px;
    display: inline-block;  
    text-align: center;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#one {
    background-color: darkgoldenrod; 
    position: relative;
    z-index: 0;
}

#two {
    background-color: darkcyan;
    position: absolute;
    left: 730px;
    top: 220px;
    z-index: 0;
    
    
}

#three {
    background-color: darkolivegreen;
    position:absolute;
    z-index: 0;
    left: 810px;
    top: 320px
}

#four {
    background-color: darkred;
    position:absolute;
    z-index: 0;
    left: 870px;
    top: 420px;
}


/*Superponer elementos
Crear en una carpeta un archivo index.html y un archivo style.css.
En index.html copiar y pegar el siguiente código.
En style.css copiar y pegar el siguiente código, y agregar los estilos necesarios para que los
 elementos se posicionen de la siguiente manera:*/