*{
    background-color: rgb(11, 41, 66);
    
}
.izquierda
{
    text-align: left;
    color: thistle;
    font-style: italic;
}

.derecha
{
    text-align: right;
    color: rgb(241, 226, 241);
    font-style: normal;
}

.centro
{
    text-align: center;
    color: rgb(231, 24, 231);
    font-weight: bold;
}
 