<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="contenedor">
            <div class="seccion">
              <div class="menu">Menú</div>
              <div class="main">Main</div>
              <div class="aside">aside</div>
           
             </div>
        </div> 
        <div class="footer">footer</div>
    </body>
</html>